.header_main_menu {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_main_menu nav ul li {
    list-style-type: none;
    padding: 10px 15px;
}
.header_main_menu nav ul {
    display: flex;
    padding: 10px;
}
.nav_links {
    text-decoration: none;
    color: #333333;
}